<form action="/todos/{{ todo._id }}?_method=PUT" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ todo.name }}" {{#if todo.isDone}} checked {{/if}}>
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>